/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  display: grid;
 place-content: center;
  height: 100dvh;
}
#semaforo {
  display: flex;
  flex-direction: column; 
  align-items: center;    
}

#soporte {
  width: 10px;      
  height: 100px;    
  background-color: black;
}

#cuerpo-semaforo {
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;             
}

.light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.glow-red {
  box-shadow: 0px 0px 25px 10px rgba(220, 53, 69, 0.7); 
}
.glow-yellow {
  box-shadow: 0px 0px 25px 10px rgba(255, 193, 7, 0.7); 
}
.glow-green {
  box-shadow: 0px 0px 25px 10px rgba(40, 167, 69, 0.7); 
}
.glow-purple {
  box-shadow: 0px 0px 25px 10px rgba(155, 1, 245, 0.7); 
}